/* GLOBALS */

/*@font-face {
font-family: Braxon;
src: url('../assets/Braxton Free.otf');
}*/

/*@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  src: local('Exo 2 Medium'), local('Exo2-Medium'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/SJSKlaAoPzG8E6EMHXZfenYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
*/
*,
*:after,
*:before {
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@media(max-width : 760px){
  /*Make dropdown links appear inline*/
  ul.nav-menu {
    display: none;
    height:auto;
  }
  ul.nav-menu li{
    width: 100%;
  }
  .show-menu{
    display:block;
  }
/*  .dropdown-button {
    position: relative;
    width: 150px;
    margin: 0 auto;
    padding: 2px 3px;
    background: #fff;
    border-left: 3px solid grey;
    cursor: pointer;
    outline: none;
    color: #000;
    font-family: helvetica;
  }
  .dropdown-button .dropdown-list{
    left:-3px;
  }
  .dropdown-button .dropdown-list li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-left: 3px solid;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }*/
}

.rectangle-list{
  max-height: 100%;
  overflow-y:scroll; 
}

.rectangle-list li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;  
}

.rectangle-list li:hover{
    background: #eee;
}   

