/* GLOBALS */
*, *:after, *:before {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-banner {
  width: 100%;
  height: 0;
  padding-bottom: calc(8%);
  padding-top: 0px;
  min-height: 64px;
  overflow: hidden;
  background: #113A9D;
}
#logoText {
  width: 85%;
  height: 0;
  padding-bottom: calc(8%);
  padding-top: 0px;
  min-height: 64px;
  display: block;
  background: url('../assets/logotext4.png') no-repeat left center;
  background-size: contain;

}


@media(max-width : 760px){
  /*Make dropdown links appear inline*/
  ul.nav-menu {
    display: none;
    height:auto;
  }
  ul.nav-menu li{
    width: 100%;
  }
  .show-menu{
    display:block;
  }
/*  .dropdown-button {
    position: relative;
    width: 150px;
    margin: 0 auto;
    padding: 2px 3px;
    background: #fff;
    border-left: 3px solid grey;
    cursor: pointer;
    outline: none;
    color: #000;
    font-family: helvetica;
  }
  .dropdown-button .dropdown-list{
    left:-3px;
  }
  .dropdown-button .dropdown-list li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-left: 3px solid;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    }*/
  }

  .rectangle-list{
    max-height: 100%;
    overflow-y:scroll; 
  }

  .rectangle-list li{
    list-style-type: square;
    position: relative;
    padding: .4em .4em .4em .8em;
    margin: .5em .5em .5em .5em;
    background: #EFEFEF;
    color: #000;
    border:1px solid #CFCFCF;
    border-left:5px solid grey;
    text-decoration: none;
    transition: all .3s ease-out;  
  }

  .rectangle-list li:hover{
    background: #eee;
  }   

}

